body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
       
}

/* first section work start here// */
.background-banner{
    background-image: url(images/20.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.first-part{
    padding-top: 10%;
    text-align: center;
    align-items: center;
    color: white;    
}
.first-part h1{
    margin-bottom: 0px;
    font-size: 52px;  
}
.first-part h2{
    margin-bottom: 40px;
    font-size: 45px; 
}
.para-1{
    font-size: 20px; 
    padding-left: 50px;
    padding-right: 50px;
}
.para-2{
    font-size: 20px;
    margin-bottom: 50px;
}
.first-part-button{
   border: none;
    background-color:red;
    padding: 20px 20px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: 600;
}
/* first section work ends here */


/* <!-- Secound section work start here --> */

.secound-part{
    margin-top: 50px;
    text-align: center; 
}
.secound-part h1{
    margin-top: 10%;
    font-size: 52px;
}
.secound-part p{
    font-size: 20px;
    padding-left: 150px;
    padding-right: 150px;
}
.secound-part1{
    display: flex; 
    padding-left: 11%; 
    padding-right: 12%;
}
.secound-part1 h3{
    text-align: center;
    align-items: center;
    background: 	whitesmoke;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 8%;
    font-size: 30px;   
    padding: 30px;
    border-radius: 10px;   
}
#color{
    color: red;
    background-color:	lightskyblue;
}
hr{
   width: 66%;
   margin-bottom: 2%;
}
p{
    text-align: center;
    font-size: 20px;
}
.secound-button{
    margin-left: 45%;
    margin-bottom: 5%;
    align-items: center;
    text-align: center;

    border: none;
    background-color:red;
    padding: 20px 20px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: 600;
}
/* Secound section work end here */


/* Third section work start here */
.third-part{
    text-align: center;
}
.third-part h1{
    margin-top: 10%;
    font-size: 52px;
}
.third-part p{
    font-size: 20px;
    padding-left: 150px;
    padding-right: 150px;
}
.third-part2{
    display: flex;
    text-align: center;
    align-items: center;      
}
.third-part2 h2{
    margin-top: 10%;
    font-size: 30px; 
}
.first{
    background-color: navajowhite;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 5%;
    margin-bottom: 20%;
    border-radius: 10px;
}
#id-no1{
background-image: url(icons/food.png);
background-repeat: no-repeat;
background-position: 50% 50px;

}
#id-no2{
    background-color:cyan;  
    background-image: url(icons/shelter.png);
    background-repeat: no-repeat;
    background-position: 50% 50px;
}
#id-no3{
    background-color: lightpink;
    background-image: url(icons/Frame-1.png);
    background-repeat: no-repeat;
    background-position: 50% 50px;
}
/* Third section work end here */
.fourth{
    display: flex;
    margin-bottom: 15%;
    padding-left: 1%;  
   
}
.fourth h1{
    font-size: 30px;
    text-align: center;
    padding-top: 20%;
}
.fourth p{
    padding: 5%;
}
.fourth-1{
    width: 100%;
}

.fourth-1 img{
    width: 50%;
    padding-left: 20%;
   
}
.fourth-1 button{
    margin-left: 35%;
    margin-bottom: 3%;
    align-items: center;
    text-align: center;
    border: none;
    background-color:red;
    padding: 20px 20px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: 600;
}
/* <!-- Fourth section work end here --> */

/* <!-- Fifth section work start here --> */
.fifth{
    display: flex;
    margin-bottom: 15%;
    padding-left: 1%;
}
.fifth h1{
    font-size: 30px;
    text-align: center;
    padding-top: 20%;
}
.fifth p{
    padding: 3%;
}
.fifth-1{
    width: 100%;
}
.fifth-1 img{
    width: 70%;
    padding-left: 20%;
}
.fifth-1 button{
    margin-left: 35%;
    margin-bottom: 5%;
    align-items: center;
    text-align: center;
    border: none;
    background-color:red;
    padding: 20px 20px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: 600;
}
/* Fifth section work end here */

/* sixth section work start here */
.six{
    display: flex;
    margin-bottom: 15%;
    padding-left: 1%;  
   
}
.six h1{
    font-size: 30px;
    text-align: center;
    padding-top: 18%;
}
.six p{
    padding: 3%;
}
.six-1{
    width: 100%;
}

.six-1 img{
    width: 70%;
    padding-left: 20%;
   
}
.six-1 button{
    margin-left: 35%;
    margin-bottom: 5%;
    align-items: center;
    text-align: center;
    border: none;
    background-color:red;
    padding: 20px 20px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: 600;
}
/* sixth section work end here  */

/* <!-- seven section work start here --> */
.seven{
    display: flex;
    margin-bottom: 10%;
    padding-left: 1%;
}
.seven h1{
    font-size: 30px;
    text-align: center;
    padding-top: 10%;
}
.seven p{
    padding: 3%;
}
.seven-1{
    width: 100%;
}
.seven-1 img{
    width: 70%;
    padding-left: 20%;
}
.seven-1 button{
    margin-left: 35%;
    margin-bottom: 5%;
    align-items: center;
    text-align: center;
    border: none;
    background-color:red;
    padding: 20px 20px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    font-weight: 600;
}
/* seven section work end here */

/* Eight section work end here  */

.eight{
        text-align: center;
}
.eight h1{
    font-size: 52px;
}
.eight p{
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 3%;
}
.eight-1{
    
    position: relative;
    margin-bottom: 150px;
    margin-left: 420px;
    width: 45%;
    padding: 50px;
    background-color: bisque;
    padding: 100px;
    text-align: center;
}
.eight-1 input{
    font-size: 18px;
    width: 40%;
    border: none;
    padding: 18px 20px;
    margin-right: 10px;
    outline: none;
    background: #C0C0C0;
    border-radius: 5px;
}
.eight-1 button{
   color: white;
   font-size: 18px;
   text-transform: uppercase;
   border: none;
   border-radius: 5px;
   padding: 18px 20px; 
   background-color: red;
}

footer{
    background: black;
    text-align: center;
    color: red;
    padding: 30px;
}
